<%- include("../common/header.ejs") %>
<%- include("../common/navbar.ejs") %>
<%- include("../common/sidebar.ejs") %>
<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
            <section id="responsive-datatable">
                <div class="row">
                    <div class="card">
                        <div class="card-header border-bottom">
                            <h4 class="card-title">Booking Listing</h4>
                        </div>
                    </div>
                    <br>
                    <div class="card-DataTable table-responsive">
                        <table id="userTable" class="table table-hover-animation">
                            <thead>
                                <tr>
                                    <th>S NO.</th>
                                    <th>User Name</th>
                                    <th>Provider Name</th>
                                    <th>Title</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% bokingData.forEach(function(data,i) { %>
                                <tr>
                                    <td><%= 1+i %></td>
                                    <td><%= data.userId?.name%></td>
                                    <td><%= data.providerId?.name%></td>
                                    <td><%= data.title %></td>
                                    <td><%= data.date %></td>
                                    <td>
                                        <% if(data.status == "Active") { %>
                                        <button onclick="changeStatus(this)" id="id<%= data._id %>"
                                            class="btn btn-success status btn-sm" data-id="<%= data._id %>"
                                            value="Inactive">Accept</button>
                                        <% } else { %>
                                        <button onclick="changeStatus(this)" id="id<%= data._id %>"
                                            class="btn btn-danger status btn-sm" data-id="<%= data._id %>"
                                            value="Active">Reject</button>
                                        <% } %>
                                    </td>
                                    <td>
                                        <a href="/bookingView/<%= data._id %>"
                                            class="btn btn-sm btn-outline-success"><i data-feather='eye'></i></a>
                                        <!-- <button onclick="confirmDelete('<%= data._id %>')"
                                            class="btn btn-sm btn-outline-danger""> <i data-feather='trash'></i>
                                        </button> -->
                                    </td>
                                </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="sidenav-overlay"></div>
<div class="drag-target"></div>
<%- include('../common/footer') %>
<script>
    setTimeout(function () {
        $("div.msg").fadeOut();
    }, 2000);
</script>

<script>
    $(document).ready(function () {
        $('#userTable').DataTable(); 
    });
</script>

<script>
    function changeStatus(button) {
        var _id = button.getAttribute('data-id');
        var value = button.getAttribute('value');
        $.ajax({
            type: "post",
            url: "/bookingStatus/" + _id,
            data: {
                status: value
            },
            success: function (data) {
                console.log(data); 
                window.location.reload();
            },
            error: function (error) {
                console.error(error.responseText);
            }
        });
    }
</script>
